body {
  background: blanchedalmond;
  display: flex;
  margin:0;
}

*{
  border: solid black 1px;
}

.container{
  background: plum;
  display:flex;
  flex-direction: column;
  text-align: center;
}
 .a{
  flex-grow:1;
  height: 20vh;
 }
 .b{
  flex-grow:2;
  height: 60vh;
  
  
 }
 .c{
  flex-grow:1;
  height: 20vh;
  width: 100vw;
 }

 @media(min-width:600px){
  .container{
    background-color: aqua;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a{
    width:100vw;
    min-height: 30vh;
  }
  .bc{
    display:flex;
    flex-direction: row;
  }
  .b{
    width:75vw;
    min-height: 70vh;
  }
  .c{
    min-height: 70vh;
    width:25vw;
  }
 }